body {
  font-family: sans-serif;
  font-size: inherit;
}
#month-id {
  font-size: 22pt;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
#month-id:before {
  content: 'march ';
}
#month-id:after {
  content: '2019';
}
.wrapper {
  margin: 5px auto auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
}
.wrapper > div {
  height: 124px;
  background-color: #ffffff; /* #ffd8a8; */
  font-weight: bold;
}
div.pre-post {
 /* background-color: lightgrey; */
 
}
div.gig {
  color: #000000;
}
div.pre-post { /* > div.gig { */
  font-style: italic;
  font-size: smaller;
  font-weight: inherit;
}
div[class~="tahday"] {
  font-weight: bold;
  font-size: larger;
}
div[class~="tahday"] > div.gig {
  font-weight: normal;
  font-size: smaller;
}
